.root {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: var(--space-8);
  align-items: center;
}

.reverse .content {
  order: 2;
}

.reverse .media {
  order: 1;
}

.actions {
  display: inline-flex;
  align-items: center;
  gap: var(--space-3);
  flex-wrap: wrap;
}

@media (max-width: 48rem) {
  .root {
    grid-template-columns: 1fr;
  }

  .reverse .content,
  .reverse .media {
    order: initial;
  }
}
