.page {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family-sans);
  background-color: var(--background);
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  max-width: 72rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  /* background-color: var(--surface-1); */
  padding: var(--space-24) clamp(var(--space-4), 4vw, var(--space-8));
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: var(--space-6);
}

/* .intro h1 {
  max-width: 20rem;
  font-size: var(--font-size-5xl);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-tight);
  letter-spacing: -0.06em;
  text-wrap: balance;
  color: var(--text-primary);
  margin-bottom: 0;
} */

.intro p {
  max-width: 27.5rem;
  text-wrap: balance;
  margin-bottom: 0;
}

.intro a {
  font-weight: var(--font-weight-medium);
  color: var(--text-primary);
}

.ctas {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 27.5rem;
  gap: var(--space-4);
  font-size: var(--font-size-sm);
}

.ctas a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--space-10);
  padding: 0 var(--space-4);
  border-radius: var(--border-radius-full);
  border: var(--space-px) solid transparent;
  transition: 0.2s;
  cursor: pointer;
  width: fit-content;
  font-weight: var(--font-weight-medium);
}

a.primary {
  background: var(--button-primary-bg);
  color: var(--button-primary-text);
  gap: var(--space-2);
}

a.secondary {
  border-color: var(--button-secondary-border);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-bg-hover);
    border-color: transparent;
  }
}

@media (max-width: 37.5rem) {
  .main {
    padding: var(--space-12) var(--space-4);
  }

  .intro {
    gap: var(--space-4);
  }

  .intro h1 {
    font-size: var(--font-size-4xl);
    line-height: var(--line-height-tight);
    letter-spacing: -0.06em;
  }
}

.logo {
  filter: var(--logo-filter);
}
